@tailwind base;
@tailwind components;
@tailwind utilities;

.club-card {
  margin-bottom: 8px;
  transition: all 0.2s ease-in-out;
}

.club-card:hover {
  transform: translateY(-2px);
}

.react-window-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.react-window-list::-webkit-scrollbar {
  width: 6px;
}

.react-window-list::-webkit-scrollbar-track {
  background: transparent;
}

.react-window-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}